@model Projeto.Presentation.Mvc.Models.LoginModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <div class="container mt-3">
        <h3>Acesso ao sistema</h3>

        @if (TempData["MensagemErro"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>
                    @TempData["MensagemErro"]
                </strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        @using (Html.BeginForm())
        {
            <label>Nome de Usuário:</label>
            @Html.TextBoxFor(model => model.Nome,
           new
           {
               @class = "form-control col-md-4",
               @placeholder = "Digite aqui"
           })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Nome)
            </span>
            <br />

            <label>Senha de Acesso:</label>
            @Html.TextBoxFor(model => model.Senha,
           new
           {
               @class = "form-control col-md-4",
               @placeholder = "Digite aqui"
           })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Senha)
            </span>
            <br />

            <input type="submit" class="btn btn-sm btn-dark" value="Acessar Sistema" />

            <a href="/Registro" class="btn btn-sm btn-secondary">
                Criar Conta Usuário
            </a>
        }

    </div>

    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>

</body>
</html>
